/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* sfondo body */

body {
    background-color: #f6f8f9;
}

/*fine sfondo body */


/* Header */

header {
    height: 100px;
    background-color: white;
}

h1 {
    display: inline-block;
    font-size: 3em;
}

#logo {
    width: 70px;
}

/*fine Header */

/* DA FIXARE */

/* sfondo container e centratura main*/

.container {
    background-color: #f6f8f9;
    height: 1000px;
}

main {
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/*fine sfondo container ecentratura main */


/* nav */

nav {
    height: 50px;
}

.button {
    display: inline-block;
    margin-top: 16px;
    border: 1px solid rgb(150, 150, 150);
    width: 100px;
    height: 30px;
    padding: 10px;
}

#task {
    background-color: #47adf1;
    color: white;
}

#section {
    background-color: white;
    color: rgb(150, 150, 150);
}

/* fine nav */

/* DA FIXARE CENTRATURA BUTTON */

/* section new task */

section {
    margin-top: 50px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.to_do {
    font-size: 1.2em;
}

.checkmark {
    display: inline-block;
    color: green;
    border: 1px solid green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

.tag{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    font-size: 0.8em;
}

#editorial {
    background-color: #47adf1;
}

/* fine sezione new task */

/* sezione today */
