/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* fine reset */

/* sfondo body */

body {
    background-color: #f6f8f9;
}

/*fine sfondo body */


/* Header */

header {
    height: 100px;
    background-color: white;
    margin-bottom: 50px;
    position: relative;
}

h1 {
    display: inline-block;
    font-size: 3em;
    position: absolute;
    top: 22px;
}

#logo {
    width: 70px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 10px;
}

/*fine Header */

/* DA FIXARE */


/* nav */

nav {
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.container {
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.button {
    display: inline-block;
    margin-top: 16px;
    border: 1px solid rgb(150, 150, 150);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

#task {
    background-color: #47adf1;
    color: white;
}

#section {
    background-color: white;
    color: rgb(150, 150, 150);
}

/* fine nav */


/*main*/

main {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* fine main */

/* section new task */

.voice {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.to_do {
    font-size: 1.2em;
}

.checkmark {
    display: inline-block;
    color: green;
    border: 1px solid green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 7px;
}

.targhetta {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    font-size: 0.8em;
}

#editorial {
    background-color: #47adf1;
}

/* fine sezione new task */

/* sezione today */

.crossmark {
    display: inline-block;
    color: red;
    border: 1px solid red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 7px;
}

#q1_goals {
    background-color: #9c72e4;
}

#recruiting {
    background-color: #64c0a9;
}

#mobile {
    background-color: #f29e33;
}

/* fine sezione today */

/* sezione upcoming */

#website {
    background-color: #d863a1;
}

#sales {
    background-color: #b0c926;
}

/* fine sezione upcoming */